<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" rel="stylesheet">
  <link href="/static/theme.css" rel="stylesheet">
  <title>Wuzzel-ranking</title>
</head>
<body>
  <a href="/logout/">Logout</a>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Dashboard</h1>
        <h2 class="subtitle">Hello {{ current_user.username }}!</h2>
      </div>
    </div>
  </section>
  <section class="section columns">
    <div class="column">
      <h2 class="title">Users</h2>
      <table>
        <tr>
          <th>Username</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Role</th>
          <th>Win-Loss-Ratio</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>{{ user.username|e }}</td>
          <td>{{ user.wins }}</td>
          <td>{{ user.losses }}</td>
          <td>{{ user.role|e }}</td>
          <td>{{ (user.wins / user.losses) if user.losses != 0 else (No Losses) }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <h2 class="title">Games</h2>
      <table>
        <tr>
          <th>Winner-front</th>
          <th>Winner-back</th>
          <th>Looser-front</th>
          <th>Looser-back</th>
          <th>Date</th>
        </tr>
        {% for game in games %}
        <tr>
          <td>{{ game.winner_front.username|e }}</td>
          <td>{{ game.winner_back.username|e }}</td>
          <td>{{ game.looser_front.username|e }}</td>
          <td>{{ game.looser_back.username|e }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </section>
</body>
</html>
