<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" rel="stylesheet">
  <link href="/static/theme.css" rel="stylesheet">
  <title>Wuzzel-ranking</title>
</head>
<body>
  <a href="/logout/">Logout</a>
  <h1>Dashboard</h1>
  <p>Hello {{ current_user.username }}!</p>
  <section class="section columns">
    <div class="column">
      <h2>Users</h2>
      <table>
        <tr>
          <th>Username</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Role</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>user.username</td>
          <td>user.wins</td>
          <td>user.losses</td>
          <td>user.role</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="column">
      <h2>Games</h2>
      <table>
        <tr>
          <th>Winner-front</th>
          <th>Winner-back</th>
          <th>Looser-front</th>
          <th>Looser-back</th>
          <th>Date</th>
        </tr>
        {% for game in games %}
        <tr>
          <td>game.winner_front.username</td>
          <td>game.winner_back.username</td>
          <td>game.looser_front.username</td>
          <td>game.looser_back.username</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </section>
</body>
</html>
